:root {
  /* Font Sizes */
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  /* Font Colors */
  --font-color-primary: #00001a;
  --font-color-secondary: #f15e50;
  --font-color-white: white;
  --font-color-accent: #ff0000;
  --font-color-dark: black;
  --font-color-p: hsl(236, 13%, 42%);
  --font-color-p-new: hsl(237.8, 15.4%, 34.3%);

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Font Families */
  --font-family-primary: 'Arial', sans-serif;
  --font-family-secondary: 'Helvetica', sans-serif;
  --font-family-accent: 'Georgia', serif;
}

html {
  font-size: 1rem;
}

/*ESTILOS GENERALES*/
* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 300ms;
}

/*HEADER*/
#header {
  margin: 0px auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

#menu {
  display: flex;
  gap: 1.5rem;
}

.nav_link {
  color: var(--font-color-primary);
}

.nav_link:hover {
  color: var(--font-color-secondary);
  transform: scale(1.3);
}

/*MAIN*/
#main {
  margin: 0px auto;
  max-width: 1200px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3%;
}

#home {
  flex-basis: 75%;
  overflow: hidden;
}

#home img {
  width: 100%;
}

/*MAIN CONTENT*/

#main_content {
  display: flex;
  align-items: center;
  padding: 0% 1%;
}

#main_content h2 {
  flex-basis: 50%;
  font-size: 3em;
}

#p_content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  height: auto;
}

#p_content p {
  display: flex;
  flex-basis: 100%;
  line-height: 1.8;
  margin-top: 2em;
  color: var(--font-color-p);
}

#p_content a {
  padding: 0.8rem 2rem;
  background-color: var(--font-color-secondary);
  color: var(--font-color-white);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-in-out;
  margin-top: 1em;
}

#p_content a:hover {
  background-color: var(--font-color-primary);
}

/*ASIDE*/
#aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--font-color-primary);
  flex-basis: 22%;
  font-size: 1em;
  padding: 1.25rem 1.25rem 0;
}
#aside h1 {
  color: #e9983a;
  margin-top: 20px;
  font-size: 1.5em;
}

/*LATEST NEWS*/
.latest_new {
  border-bottom: 1px solid var(--font-color-p-new);
  padding: 2em 0;
}

.latest_new:last-child {
  border-style: none;
}

.latest_new h3 {
  color: white;
  margin-bottom: 5px;
}
.latest_new h3:hover {
  color: #e9983a;
}

.latest_new p {
  color: var(--font-color-p-new);
  line-height: 1.8;
}

/*NEWS*/
#news {
  margin: 0px auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
}

.new {
  display: flex;
  flex-basis: 33%;
}

.new h2 {
  color: #86879b;
  font-size: 2rem;
  font-weight: bold;
  opacity: 75%;
}
.new h3 {
  font-size: 1.25rem;
  color: hsl(240, 100%, 5%);
}

.new img {
  width: 150px;
}

.new_info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.new_info p {
  line-height: 1.8;
  color: hsl(237.8, 15.4%, 34.3%);
}
